.breeds {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 45%;
  align-items: center;
  height: 270px;
  overflow-y: auto;
  transition: height 0.4s ease-in-out 0.1s;

  &__name {
    @include breed-button;

    width: 100%;


    @include breakPoint(xl) {
      width: 205px;
    }

    @include breakPoint(xxl) {
      width: 260px;
      margin: 0 20px 10px 5px;
    }

    @include outline;

    &:focus {
      background-color: $color-red;
    }

    &--more {
      @include breed-button;
      width: 100%;

      @include outline;

      text-transform: lowercase;
      background-color: $color-red;

      @include breakPoint(xl) {
        width: 205px;
      }

      @include breakPoint(xxl) {
        width: 260px;
        margin: 0 20px 10px 5px;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 16px;
    background-color: transparent;
    color: transparent;

    @media all and (min-width: 320px) and (max-width: 576px) {
      display: none;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $color-red;
  }

  @include breakPoint(xl) {
    display: flex;
    flex-basis: 49%;
  }

  @include breakPoint(xxl) {
    height: 400px;
    flex-basis: 46%;
  }

  &--without-cat {
    display: flex;

  }

  &--without-cat,
  &--without-dog {
    @include breakPoint(xl) {
      max-height: 95%;
    }
  }
}