.breeds {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 45%;
  align-items: center;
  height: 270px;
  overflow-y: auto;
  transition: height .4s ease-out .1s;

  &__name {
    @include breed-button;

    @include breakPoint(xl) {
      width: 205px;
    }

    @include breakPoint(xxl) {
      width: 260px;
      margin: 0 20px 10px 5px;
    }

    @include outline;

    &:focus {
      background-color: $color-red;
    }

    &--more {
      @include breed-button;

      @include outline;

      text-transform: lowercase;
      background-color: $color-red;

      @include breakPoint(xl) {
        width: 205px;
      }

      @include breakPoint(xxl) {
        width: 260px;
        margin: 0 20px 10px 5px;
      }

    }
  }

  &::-webkit-scrollbar {
    width: 16px;
    background-color: transparent;
    color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $color-red;
  }

  @include breakPoint(xl) {
    display: flex;
    flex-basis: 49%;
  }

  @include breakPoint(xxl) {
    height: 400px;
  }

  &--without-cat {
    @include breakPoint(xl) {
      height: 95%;
    }
  }
}