.carousel-cell {
  position: relative;
  width: 100%;
  height: 170px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #fff;
  counter-increment: carousel-cell;
  overflow: hidden;

  @include breakPoint(xs) {
    height: 200px;
  }

  @media all and (min-width: 360px) and (min-height: 668px) and (orientation: portrait) {
    height: 200px;
  }

  @media all and (min-width: 360px) and (min-height: 800px) and (orientation: portrait) {
    height: 250px;
  }

  @include breakPoint(md) {
    height: 270px;
  }

  @include breakPoint(lg) {
    height: 360px;
  }

  @include breakPoint(xl) {
    height: 260px;
  }

  @include breakPoint(xxl) {
    height: 400px;
  }

  &__img {
    @include carousel-cell;

    max-width: 100%;
    max-height: 100%;
    z-index: 99;
  }

  &__background {
    @include carousel-cell;

    height: 110%;
    width: 110%;
    margin: -5%;
    padding: 10px;
    filter: blur(10px);
  }
}

.flickity-button {
  background: transparent;
}

.flickity-prev-next-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.flickity-button-icon {
  fill: $color-red;
}

.flickity-button:disabled {
  display: none;
}
