.pet-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 36px;
  width: 130px;
  border: none;
  border-radius: 20px;
  font: $base-font-weight-bold $button-font-size/1 $base-font-family;
  text-transform: uppercase;
  color: #fff;
  background-color: $color-red;
  transform: translate(-50%, 50%);
  cursor: pointer;
  z-index: 99;

  @include breakPoint(xl) {
    left: -26%;
    bottom: 35%;
    width: 260px;
    font-size: $button-font-size-large;
  }

  .dog-container & {
    @include breakPoint(xl) {
      left: -26%;
      bottom: 45%;
      width: 260px;
    }

    @include breakPoint(xxl) {
      bottom: 42%;
    }
  }


  &--arrow {
    position: absolute;
    height: 36px;
    border: none;
    padding: 1px 10px;
    font: $base-font-weight-bold $button-font-size/1 $base-font-family;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    // transform: translate(-50%, 50%);
    z-index: 9999;
    left: 5%;
    top: 0;
    font-size: $button-font-size-large;
    transition: .4s linear;
    cursor: pointer;

    @include breakPoint(xl) {
      position: absolute;
      height: 36px;
      border: none;
      border-radius: 20px;
      font: $base-font-weight-bold $button-font-size/1 $base-font-family;
      text-transform: uppercase;
      color: #fff;
      background-color: $color-red;
      transform: translate(-50%, 50%);
      z-index: 99;
      left: -26%;
      bottom: 35%;
      width: 260px;
      font-size: $button-font-size-large;
      transition: .4s linear;
      cursor: pointer;
    }
  }

  &--arrow-cat {
    @include breakPoint(xl) {
      position: absolute;
      height: 36px;
      border: none;
      border-radius: 20px;
      font: $base-font-weight-bold $button-font-size/1 $base-font-family;
      text-transform: uppercase;
      color: #fff;
      background-color: $color-red;
      transform: translate(-50%, 50%);
      z-index: 99;
      left: -26%;
      bottom: 45%;
      width: 260px;
      font-size: $button-font-size-large;
      transition: .4s linear;
      cursor: pointer;
    }

    @include breakPoint(xxl) {
      bottom: 42%;
    }
  }

  &--mobile {
    bottom: 8%;
    width: 100%;
  }
}

.fas {
  color: #fff;
  background: transparent;
}