.pet-button {
  @include arrow-pet-button;

  bottom: 0;
  left: 50%;
  width: 130px;
  border-radius: 20px;
  font-size: $button-font-size;
  background-color: $color-red;
  transform: translate(-50%, 50%);
  z-index: 99;

  @include breakPoint(xl) {
    left: -26%;
    bottom: 35%;
    width: 260px;
    font-size: $button-font-size-large;
  }

  .dog-container & {
    @include breakPoint(xl) {
      left: -26%;
      bottom: 45%;
      width: 260px;
    }

    @include breakPoint(xxl) {
      bottom: 42%;
    }
  }

  &--arrow {
    @media all and (min-width: 320px) and (max-width: 576px) {
      @include arrow-pet-button;

      left: 5%;
      top: 0;
      padding: 1px 10px;
      background-color: transparent;
      z-index: 9999;
    }

    @include breakPoint(xl) {
      @include arrow-pet-button;

      left: -26%;
      bottom: 35%;
      width: 260px;
      border-radius: 20px;
      background-color: $color-red;
      transform: translate(-50%, 50%);
      z-index: 99;
    }
  }

  &--arrow-cat {
    @include breakPoint(xl) {
      @include arrow-pet-button;

      left: -26%;
      bottom: 45%;
      width: 260px;
      border-radius: 20px;
      background-color: $color-red;
      transform: translate(-50%, 50%);
      z-index: 99;
    }

    @include breakPoint(xxl) {
      bottom: 42%;
    }
  }

  &--mobile {
    bottom: 8%;
    width: 100%;
  }
}

.fas {
  color: #fff;
  background: transparent;
}
