.main {
  position: relative;
  height: 80vh;
  max-width: 100vw;
  background-color: $color-light-blue;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  @include breakPoint(xl) {
    height: 100vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
  }

  &__pets-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 48%;
    left: 50%;
    height: 85%;
    width: 82%;
    margin: 0 auto;
    transform: translate(-50%, -50%);

    @include breakPoint(xl) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      top: 50%;
      height: 90%;
      width: 97%;
    }
  }
}

.dog-container,
.cat-container {
  position: relative;

  @include breakPoint(xl) {
    flex-basis: 45%;
    height: 300px;
    position: static;
  }

  @include breakPoint(xxl) {
    height: 400px;
  }
}